<%= render 'layouts/header' %>

<div class='container mt-5'>
  <%= week_calendar events: @cooking_records do |date, cooking_records| %>
    <div class='calendar-extend'>
      <div class='calendar-date'>
        <%= link_to date, cooking_record_path(date)  %>
      </div>
      <div class='menus'>
        <% cooking_records.each do |cooking_record| %>
          <div>
            <%= link_to cooking_record.menu.title, menu_path(cooking_record.menu.id), class:'calendar-menu-link' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>