.simple-calendar {
  margin: 0 80px 80px 80px;
  justify-content: center;
  padding-bottom: 40px;
}

.calendar-heading {
  text-align: center;
  padding-top: 50px;
}

.calendar-title {
  font-size: 50px;
  color: #666;;
  margin: 0 50px;
  font-weight: bold;
}

.calendar {
  margin: 20px auto;
}

.previous-month-link,
.next-month-link {
  text-decoration: none;
  color: #666;
  border: 3px solid #666;;
  border-radius: 6px;
  padding: 5px 10px;
}

table {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  table-layout: fixed;
  word-wrap: break-word;
}