.simple-calendar {
  margin: 0 auto 80px;
  max-width: 600px;
  justify-content: center;
  padding-bottom: 40px;
}

.calendar-heading {
  text-align: center;
  padding-top: 50px;
}

.calendar-year {
  font-size: 20px;
  color: #666;
  font-weight: bold;
  margin-left: 40px;
}

.calendar-month {
  font-size: 50px;
  color: #666;
  font-weight: bold;
  margin-right: 40px;
}

.calendar {
  margin: 20px auto;
}

.previous-month-link,
.next-month-link {
  text-decoration: none;
  color: #666;
  border: 3px solid #666;;
  border-radius: 6px;
  padding: 5px 10px;
}

table th tr {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  table-layout: fixed;
  word-wrap: break-word;
}

.calendar-extend {
  display: flex;
}

.menus {
  margin-left: 40px;
}