.simple-calendar {
  margin: 0 auto 80px;
  max-width: 600px;
  justify-content: center;
  padding-bottom: 40px;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calendar-year {
  font-size: 20px;
  color: #666;
  font-weight: bold;
}

.calendar-month {
  font-size: 50px;
  color: #666;
  font-weight: bold;
}

.calendar {
  margin: 20px auto;
  height: 600px;
  overflow: scroll;
}

.previous-month-link,
.next-month-link {
  text-decoration: none;
  color: #666;
  padding: 5px 10px;
}

.previous-month-link:hover {
  text-decoration: none;
  color: #e3e548;
}

.next-month-link:hover {
  text-decoration: none;
  color: #e3e548;
}

table th tr {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  word-wrap: break-word;
}

.date-link {
  color: #666;
}

.date-link:hover {
  color: #e3e548;
}

.menus {
  margin-left: 40px;
}

.card-title {
  /* font-weight: bold; */
  color: #666;
}
