.cooking-card {
  margin: 40px auto;
  max-width: 400px;
  min-height: 200px;
  color: #666;
}

.start-time {
  padding-left: 40px;
  padding-top: 20px;
}

.no-record-word {
  padding-left: 40px;
  padding-top: 20px;
}

.cooking-record {
  padding-left: 40px;
}

.edit-link,
.delete-link {
  margin: 20px 20px;
}

.menu-link,
.recipe-link {
  text-decoration: none;
  color: #666;
}

.menu-link:hover {
  text-decoration: none;
  color: #0d6efd;
}
