.simple-calendar {
  .day a {
    text-decoration: none;
    font-weight: bold;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background:rgba(255,219,219,0.5);

  }

  .start-date {}

  .prev-month, .next-month {
    background-color: whitesmoke;
  }

  .current-month {}

  .has-events {}
}