.simple-calendar {
  .day a {
    text-decoration: none;
    font-weight: bold;
  }

  .today {
    background: rgba(227, 229, 72, 0.3);
  }

  .start-date {
  }

  .prev-month,
  .next-month {
    background-color: whitesmoke;
  }

  .has-events {
  }
}
