html {
  /* font-family: sans-serif; */
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  ​margin: 0;
  letter-spacing: 0.15em;
}

.header-link {
  height: 50px;
  font-size: 20px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* .logout-link,
.menu-index-link,
.menu-input-link,
.record-index-link,
.record-input-link {
  text-decoration: none;
  margin: 25px;
  color: #e3e548;
} */

.title {
  font-size: 40px;
  color: #fff;
  background-color: #e3e548;
  text-align: center;
  margin: 10px 0;
}

.wrapper {
  margin: auto;
  text-align: center;
}