html {
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  ​margin: 0;
  letter-spacing: 0.15em;
}

.title {
  font-size: 40px;
  color: #fff;
  background-color: #e3e548;
  text-align: center;
  margin: 10px 0;
}

.wrapper {
  margin: auto;
  text-align: center;
}

.navbar {
  background-color: #e3e548;
}

.toggler-extend {
  border-color: #666;
}

.logo-block {
  margin-right: auto;
  font-weight: bold;
}

.logout-block {
  margin-left: auto;
}