html {
  color: #666;
  font-family: "Unica One", "Avenir", "游ゴシック", "YuGothic",
    "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6",
    "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック",
    "MS P Gothic", sans-serif;
  margin: 0;
  letter-spacing: 0.05em;
}

.nav-extend a:hover {
  color: #e3e548;
}

.logo-block {
  margin-right: auto;
}

.logo-block a {
  text-decoration: none;
  font-weight: bold;
  color: #666;
}

.logo-block a:hover {
  color: #e3e548;
}

.logout-block {
  margin-left: auto;
}

.logout-block a {
  color: #666;
}

.logout-block a:hover {
  color: #e3e548;
}
