.inner {
  /* width: 100vw; */
  /* margin: 40px auto; */
  color: #666;
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  width: 16rem;
}

.card-img-top {
  height: 250px;
  width: 250px;
  padding: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.recipe-url {
  text-align: center;
}

.card-text {
  font-size: 12px;
}

.menu-link, .recipe-link {
  text-decoration: none;
  color: #666;
  ;
}
