.card-link {
  text-decoration: none;
  color: #666;
}

.card-link:hover {
  color: #e3e548;
}

.card-index-img {
  text-align: center;
}

.card-img-extend {
  object-fit: contain;
  padding: 10px;
  object-fit: cover;
}

.card-text {
  font-size: 12px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
