.menu-lists {
}

.menu-list {
  height: 50px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #424242;
}

.menu-title {
  width: 400px;
  padding: 10px 0 ;
  font-weight: bold;
}

.recipe-url {
  width: 400px;
  padding: 10px;
  font-weight: bold;
}

.menu-memo {
  width: 400px;
  padding: 10px 0 ;

}

.menu-link, .recipe-link {
  text-decoration: none;
  color: #424242;
}

