.card-form {
  margin: 40px auto;
  padding: 40px 40px 20px 40px;
  max-width: 800px;
}

.img-block {
  margin-top: 5px;
}

.btn-group {
  display: flex;
  align-content: center;
}

.back-block {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.back-btn {
  text-decoration: none;
}
