.card-form {
  width: 40vw ;
  margin: 40px auto;
  padding: 40px 40px 20px 40px;
}

.form-control-extend {
  margin: 5px auto 20px;
}

.img-block {
  margin-top: 5px;
}

.btn-group {
  display: flex;
  align-content: center;
}

.btn-block {
  margin-top: 20px;
}

.back-block {
  margin: 30px 40px 20px 40px;
}

.back-btn {
  text-decoration: none;
}